@use "./base/reset";
@use "./base/fonts" as *;
@use "./base/variables" as *;

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
body {
  background-color: $dark-green;
  font-family: "Berlin Sans FB";
}

main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 188px);
  width: 70%;
}

.top {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .logo {
    a {
      text-decoration: none;
      color: $light-gray;
    }
    font-family: "Berlin Sans FB";
    font-size: 60px;

    span:nth-child(1) {
      color: $pink;
    }
    span:nth-child(2) {
      color: $light-green;
    }

    &:before {
      position: relative;
      top: 15px;
      background-image: url(./images/logo.png);
      background-size: 70px 70px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 75px;
      height: 70px;
      content: "";
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: "Berlin Sans FB";
    font-size: 18px;

    a {
      color: $light-gray;
      text-decoration: none;
      padding-bottom: 20px;
      &:hover {
        color: $light-green;
      }
    }
    ul {
      display: flex;
      li {
        padding-left: 30px;
        padding-right: 25px;
      }
    }

    .form {
      position: relative;
      &__search {
        border: none;
        background-color: $darker-green;
        border-radius: 7px 0px 0px 7px;
        height: 35px;
        width: 100%;
        padding-left: 30px;
        padding-right: 60px;
        font-family: "Berlin Sans FB";
        font-size: 18px;
        outline: none;
        color: white;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      }
      &__spin {
        position: absolute;
        right: -20px;
        flex-shrink: 0;
        border-radius: 50%;
        height: 37px;
        width: 37px;
        border: none;
        font-family: "Berlin Sans FB";
        color: white;
        background-color: $pink;
        cursor: pointer;
        transform: rotate(-20deg);
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }

}


.genre_links {
  font-family: "Berlin Sans FB";
  font-size: 14px;
  color: $light-gray;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 50px;
  margin-bottom: 50px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    a {
      text-decoration: none;
    }
    li {
      color: $light-gray;
      padding: 10px 20px 10px 20px;
      border: 1px solid $light-gray;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        color: $light-green;
        border-color: $light-green;
      }
    }
  }
}

footer {
  background-color: $pink;
  height: 50px;
  width: 100%;
  position: relative;

  .container {
    font-family: "Berlin Sans FB";
    font-size: 11px;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    width: 70%;
    padding-top: 20px;
  }

  .elements {
    position: absolute;
    bottom: 20px;
    right: 0px;

    .circle1 {
      width: 170px;
      height: 170px;
      background-image: url(./images/lp_element.png);
      background-size: 170px 170px;
      background-repeat: no-repeat;
    }
    .circle2 {
      position: absolute;
      border-radius: 50%;
      width: 140px;
      height: 140px;
      background-color: $darker-green;
      bottom: -20px;
      left: -100px;
      z-index: -2;
    }
    .block {
      position: absolute;
      width: 90px;
      height: 10px;
      background-color: $light-blue;
      bottom: 40px;
      left: -130px;
    }
    .block1 {
      position: absolute;
      width: 90px;
      height: 10px;
      background-color: $light-blue;
      bottom: 60px;
      left: -150px;
    }
    .block2 {
      position: absolute;
      width: 90px;
      height: 10px;
      background-color: $light-blue;
      bottom: 80px;
      left: -130px;
    }
  }
}

.albumgrid {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 18px;
  max-width: 1940px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 25px;
  row-gap: 40px;
  .item {
    flex: 1 1 350px;
    height: 350px;
    background-color: $darker-green;
    border-radius: 9px;
    padding-top: 47px;
    cursor: pointer;
    .imageholder {
      aspect-ratio: 1/1;
      width: 75%;
      height: 50%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 50px;
      z-index: 1;
      .circle {
        top: 0px;
        right: 73px;
        height: 135px;
        width: 135px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
      }
      img {
        display: block;
        object-fit: cover;
        width: 50%;
        height: auto;
        max-height: 200px;
        max-width: 200px;
      }
      .mirrored {
        transform: scaleY(-1);
        height: 30%;
        opacity: 10%;
        border-radius: 5px;
      }
    }
    .info {
      padding-top: 50px;
      color: $light-gray;
      font-size: 20px;
      padding-left: 60px;
      line-height: 30px;
    }
  }
  .pagenumbers p {
    color: rgba(245, 241, 241, 0.849);
    text-align: right;
  }
}

.item:hover {
  background-color: $light-blue;
  transform: scale(1.05);
  transition: 1s;
}

.circle:after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: $light-gray;
  border-radius: 50%;
  top: 36px;
  right: 34px;
}

.pagenumbers p {
  color: rgba(245, 241, 241, 0.849);
  text-align: right;
  width: 100%;
  max-width: 1940px;
  width: 85%;
  margin-bottom: 100px;
}


.detail {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  flex-wrap: wrap;
  color: $light-gray;

  .left {
    flex: 1 1 430px;

    .imgholder {
      position: relative;
      width: 316px;
      height: 316px;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        background-color: black;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        top: 0;
        left: 150px;
        z-index: -2;
      }
      &:before {
        content: "";
        position: absolute;
        background-color: $pink;
        border-radius: 50%;
        width: 30%;
        height: 30%;
        top: 110px;
        left: 270px;
        z-index: -1;
      }
    }
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: auto;
    }
    .mirrored {
      transform: scaleY(-1);
      height: 30%;
      opacity: 10%;
      border-radius: 5px;
    }

    .recordshadow {
      position: absolute;
      clip-path: inset(0 0 70% 52%);
      background-color: black;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      top: 316px;
      left: 150px;
      opacity: 10%;
    }
  }

  .right {
    flex: 1 1 300px;
    padding-bottom: 50px;

    .artist {
      font-size: 35px;
      margin-bottom: 20px;
    }
    .album {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .release {
      font-size: 20px;
      margin-bottom: 20px;
      &:before {
        content: "Releaseyear: ";
      }
    }
    .genre {
      font-size: 20px;
      margin-bottom: 20px;
      &:before {
        content: "Genre: ";
      }
    }
  }

  .songlist {
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    table {
      width: 100%;
      font-size: 16px;
      margin-bottom: 20px;
      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

