/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Berlin Sans FB";
  src: url("/fonts/BerlinSansFB-Reg.woff2") format("woff2"), url("/fonts/BerlinSansFB-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

body {
  background-color: #014048;
  font-family: "Berlin Sans FB";
}

main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 188px);
  width: 70%;
}

.top {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top .logo {
  font-family: "Berlin Sans FB";
  font-size: 60px;
}
.top .logo a {
  text-decoration: none;
  color: #eee3e3;
}
.top .logo span:nth-child(1) {
  color: #f67d7e;
}
.top .logo span:nth-child(2) {
  color: #c7f694;
}
.top .logo:before {
  position: relative;
  top: 15px;
  background-image: url(./images/logo.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 75px;
  height: 70px;
  content: "";
}
.top nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Berlin Sans FB";
  font-size: 18px;
}
.top nav a {
  color: #eee3e3;
  text-decoration: none;
  padding-bottom: 20px;
}
.top nav a:hover {
  color: #c7f694;
}
.top nav ul {
  display: flex;
}
.top nav ul li {
  padding-left: 30px;
  padding-right: 25px;
}
.top nav .form {
  position: relative;
}
.top nav .form__search {
  border: none;
  background-color: #02343b;
  border-radius: 7px 0px 0px 7px;
  height: 35px;
  width: 100%;
  padding-left: 30px;
  padding-right: 60px;
  font-family: "Berlin Sans FB";
  font-size: 18px;
  outline: none;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.top nav .form__spin {
  position: absolute;
  right: -20px;
  flex-shrink: 0;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  border: none;
  font-family: "Berlin Sans FB";
  color: white;
  background-color: #f67d7e;
  cursor: pointer;
  transform: rotate(-20deg);
  transition: transform 0.3s ease-in-out;
}
.top nav .form__spin:hover {
  transform: rotate(360deg);
}

.genre_links {
  font-family: "Berlin Sans FB";
  font-size: 14px;
  color: #eee3e3;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 50px;
  margin-bottom: 50px;
}
.genre_links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.genre_links ul a {
  text-decoration: none;
}
.genre_links ul li {
  color: #eee3e3;
  padding: 10px 20px 10px 20px;
  border: 1px solid #eee3e3;
  border-radius: 10px;
  cursor: pointer;
}
.genre_links ul li:hover {
  color: #c7f694;
  border-color: #c7f694;
}

footer {
  background-color: #f67d7e;
  height: 50px;
  width: 100%;
  position: relative;
}
footer .container {
  font-family: "Berlin Sans FB";
  font-size: 11px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  width: 70%;
  padding-top: 20px;
}
footer .elements {
  position: absolute;
  bottom: 20px;
  right: 0px;
}
footer .elements .circle1 {
  width: 170px;
  height: 170px;
  background-image: url(./images/lp_element.png);
  background-size: 170px 170px;
  background-repeat: no-repeat;
}
footer .elements .circle2 {
  position: absolute;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: #02343b;
  bottom: -20px;
  left: -100px;
  z-index: -2;
}
footer .elements .block {
  position: absolute;
  width: 90px;
  height: 10px;
  background-color: #4cbfcf;
  bottom: 40px;
  left: -130px;
}
footer .elements .block1 {
  position: absolute;
  width: 90px;
  height: 10px;
  background-color: #4cbfcf;
  bottom: 60px;
  left: -150px;
}
footer .elements .block2 {
  position: absolute;
  width: 90px;
  height: 10px;
  background-color: #4cbfcf;
  bottom: 80px;
  left: -130px;
}

.albumgrid {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 38px;
  max-width: 1940px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 25px;
  row-gap: 40px;
}
.albumgrid .item {
  flex: 1 1 350px;
  height: 350px;
  background-color: #02343b;
  border-radius: 9px;
  padding-top: 47px;
  cursor: pointer;
}
.albumgrid .item .imageholder {
  aspect-ratio: 1/1;
  width: 75%;
  height: 50%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
  z-index: 1;
}
.albumgrid .item .imageholder .circle {
  top: 0px;
  right: 73px;
  height: 135px;
  width: 135px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.albumgrid .item .imageholder img {
  display: block;
  object-fit: cover;
  width: 50%;
  height: auto;
  max-height: 200px;
  max-width: 200px;
}
.albumgrid .item .imageholder .mirrored {
  transform: scaleY(-1);
  height: 30%;
  opacity: 10%;
  border-radius: 5px;
}
.albumgrid .item .info {
  padding-top: 50px;
  color: #eee3e3;
  font-size: 20px;
  padding-left: 60px;
  line-height: 30px;
}
.albumgrid .pagenumbers p {
  color: rgba(245, 241, 241, 0.849);
  text-align: right;
}

.item:hover {
  background-color: #4cbfcf;
  transform: scale(1.05);
  transition: 1s;
}

.circle:after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #eee3e3;
  border-radius: 50%;
  top: 36px;
  right: 34px;
}

.pagenumbers p {
  color: rgba(245, 241, 241, 0.849);
  text-align: right;
  width: 100%;
  max-width: 1940px;
  width: 85%;
  margin-bottom: 100px;
}

.detail {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  color: #eee3e3;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 50px;
}
.detail .left {
  flex: 1 1 430px;
}
.detail .left .imgholder {
  position: relative;
  width: 316px;
  height: 316px;
  z-index: 1;
}
.detail .left .imgholder:after {
  content: "";
  position: absolute;
  background-color: black;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 150px;
  z-index: -2;
}
.detail .left .imgholder:before {
  content: "";
  position: absolute;
  background-color: #f67d7e;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  top: 110px;
  left: 270px;
  z-index: -1;
}
.detail .left img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.detail .left .mirrored {
  transform: scaleY(-1);
  clip-path: inset(70% 0 0 0);
  opacity: 10%;
}
.detail .left .recordshadow {
  position: absolute;
  clip-path: inset(0 0 70% 52%);
  background-color: black;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 316px;
  left: 150px;
  opacity: 10%;
}
.detail .left .spotifyCode {
  padding-top: 100px;
  width: 300px;
}
.detail .right {
  flex: 1 1 300px;
  padding-bottom: 50px;
}
.detail .right .artist {
  font-size: 35px;
  margin-bottom: 20px;
}
.detail .right .album {
  font-size: 30px;
  margin-bottom: 20px;
}
.detail .right .release {
  font-size: 20px;
  margin-bottom: 20px;
}
.detail .right .release:before {
  content: "Releasedate: ";
}
.detail .right .genre {
  font-size: 20px;
  margin-bottom: 20px;
}
.detail .right .genre:before {
  content: "Genre: ";
}
.detail .right .songlist h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.detail .right .songlist table {
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
}
.detail .right .songlist table td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
