@font-face {
  font-family: "Berlin Sans FB";
  src: url("/fonts/BerlinSansFB-Reg.woff2") format("woff2"),
    url("/fonts/BerlinSansFB-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
