<div class="albumgrid">
  <div class="item">
    <div class="imageholder">
      <img src="images/MilesDavisKindofBlue.jpg" alt="" />
      <div class="circle"></div>
      <img class="mirrored" src="images/MilesDavisKindofBlue.jpg" alt="" />
    </div>
    <div class="info">
      <p>Artist: Miles Davis</p>
      <p>Album: Kind of Blue</p>
    </div>
  </div>
  <div class="item">
    <div class="imageholder">
      <img src="images/MilesDavisKindofBlue.jpg" alt="" />
      <div class="circle"></div>
      <img class="mirrored" src="images/MilesDavisKindofBlue.jpg" alt="" />
    </div>
    <div class="info">
      <p>Artist: Miles Davis</p>
      <p>Album: Kind of Blue</p>
    </div>
  </div>
  <div class="item">
    <div class="imageholder">
      <img src="images/MilesDavisKindofBlue.jpg" alt="" />
      <div class="circle"></div>
      <img class="mirrored" src="images/MilesDavisKindofBlue.jpg" alt="" />
    </div>
    <div class="info">
      <p>Artist: Miles Davis</p>
      <p>Album: Kind of Blue</p>
    </div>
  </div>
  <div class="item">
    <div class="imageholder">
      <img src="images/MilesDavisKindofBlue.jpg" alt="" />
      <div class="circle"></div>
      <img class="mirrored" src="images/MilesDavisKindofBlue.jpg" alt="" />
    </div>
    <div class="info">
      <p>Artist: Miles Davis</p>
      <p>Album: Kind of Blue</p>
    </div>
  </div>
  <div class="item">
    <div class="imageholder">
      <img src="images/MilesDavisKindofBlue.jpg" alt="" />
      <div class="circle"></div>
      <img class="mirrored" src="images/MilesDavisKindofBlue.jpg" alt="" />
    </div>
    <div class="info">
      <p>Artist: Miles Davis</p>
      <p>Album: Kind of Blue</p>
    </div>
  </div>
  <div class="item">
    <div class="imageholder">
      <img src="images/MilesDavisKindofBlue.jpg" alt="" />
      <div class="circle"></div>
      <img class="mirrored" src="images/MilesDavisKindofBlue.jpg" alt="" />
    </div>
    <div class="info">
      <p>Artist: Miles Davis</p>
      <p>Album: Kind of Blue</p>
    </div>
  </div>
</div>
<div class="pagenumbers"><p>1 2 3 ></p></div>
