<section class="genre_links">
    <ul>
        <li><a href="#"></a>Pop</li>
        <li><a href="#"></a>Rock</li>
        <li><a href="#"></a>Jazz</li>
        <li><a href="#"></a>Blues</li>
        <li><a href="#"></a>Metal</li>
        <li><a href="#"></a>Soundtrack</li>
        <li><a href="#"></a>Country</li>
        <li><a href="#"></a>R&B</li>
        <li><a href="#"></a>Experimental</li>
        <li><a href="#"></a>Classic</li>
        <li><a href="#"></a>Blues</li>
        <li><a href="#"></a>Metal</li>
        <li><a href="#"></a>Soundtrack</li>
        <li><a href="#"></a>Country</li>
        <li><a href="#"></a>R&B</li>
        <li><a href="#"></a>Experimental</li>
        <li><a href="#"></a>Classic</li>
    </ul>
</section>
<footer>

    <div class="elements">
        <div class="circle"></div>
        <div class="circle2"></div>
        <div class="block"></div>
        <div class="block1"></div>
        <div class="block2"></div>
    </div>
    <div class="container">
        Groepswerk MyThirtyThree - By Cissy, Amy, Thomas
    </div>
</footer>

</body>
</html>
