<section class="top">
  <div class="logo">
    <a href="intro.php">My<span>Thirty</span><span>Three</span></a>
  </div>
  <nav>
    <ul>
      <li><a href="index.php">All</a></li>
      <li><a href="#">Top33</a></li>
      <li><a href="#">Random33</a></li>
      <li><a href="add.php">Add</a></li>
    </ul>
    <form action="index.php" class="form" method="GET">
      <input
        type="text"
        name="search"
        id=""
        class="form__search"
        placeholder="Search Album or Artist"
        spellcheck="false"
        autocomplete="off"
      />
      <button class="form__spin">Spin</button>
    </form>
  </nav>
</section>
