
<div class="trackrow" id="trackrow">
        <input type="hidden" name="tr_id[]" value="@tr_id@">
        <input
                type="text"
                name="tr_name[]"
                id="track_0"
                class="form__track"
                placeholder="Track"
                spellcheck="false"
                value="@tr_name@"
        />

        <input
                type="text"
                step="2"
                name="tr_time[]"
                id="seconds_0"
                class="form__seconds"
                placeholder="TrackLength"
                value="@tr_time@"
                spellcheck="false"/>
<!--                onfocus="(placeholder = '00:00:00');"-->

        </div>