<section class="addform">

    <form enctype="multipart/form-data" action="./lib/update.php" method="POST" class="form">


        <input type="hidden" name="csrf" value="@csrf_token@">
        <input type="hidden" name="art_id" value="@art_id@">
        <input type="hidden" name="pkey" value="@alb_id@">
        <input
                type="text"
                name="art_name"
                id="art_name"
                class="form__artist"
                placeholder="Artist"
                spellcheck="false"
                value="@art_name@"
        />
        <input
                type="text"
                name="alb_name"
                id="alb_name"
                class="form__album"
                placeholder="Album"
                spellcheck="false"
                value="@alb_name@"
        />
        <input

                type="text"
                name="alb_releasedate"
                id="alb_releasedate"
                class="form__releasedate"
                placeholder="Releasedate"
                value="@alb_releasedate@"
                spellcheck="false"
                onfocus="(type = 'date')"
        />

        @select_genre@

        <div class='tracks' id='tracks'>"
            @tracks@
        </div>


        <input
                type="text"
                name="alb_url"
                id="alb_url"
                class="form__url"
                placeholder="Spotifycode"
                value="@alb_url@"
                spellcheck="false"
        />
        <div class="formbuttons">
            <button class="form__add" type="submit">Save</button>

        </div>
    </form>


</section>